/* NOTE this is the only custom thing that you'd have to opt-in to */

/*
    Options:
    data-layout="center"
*/

[data-layout] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /*justify-content: flex-start;*/
}

[data-layout] > *,
[data-layout] > * > *:first-child {
    margin-top: 0;
}

[data-layout] > * + * {
    padding-top: 2rem;
}

[data-layout*="center"] {
    justify-content: center;
}


[data-layout] > aside {
    flex-basis: 25%;
}

@media screen and (min-width: 955px) {

    [data-layout]  {
        flex-direction: row;
    }
    [data-layout] > * + * {
        padding-top: 0;
        padding-left: 2rem;
    }

}
